/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}


/*---------上面是系統內建---------*/
a {
    text-decoration: none !important;
}


/*navbar-css*/

body {
    height: 2000px;
    overflow-x: hidden;
}

head {
    background-color: var(--yum-primary-2);
}

.bg-dark {
    background-color: var(--yum-primary-2) !important;
}

.section-hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* 全屏顯示 */
    background-color: var(--yum-primary-1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar */
.nav-item {
    width: 150px;
    text-align: center;
}



.navbar-nav .nav-link {
    padding-left: 1.15rem !important;
    padding-right: 1.15rem !important;
    /* font-weight:bold  !important; */
    font-size: 1.15rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.14rem;
}

.navbar-brand {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}




.nav-bar {
    max-width: 1200px;
    width: 95%;
    background-color: var(--yum-primary-2);
    margin: 20px auto;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
    --bs-navbar-nav-link-padding-x: 1.5rem;
}



.logo img {
    width: auto;
    height: 70px;
}
/* menu */
.menu {
    display: flex;
    gap: 30px;
}

    .menu li {
        list-style: none;
        margin: 15px 0;
    }

.menu-icon {
    display: block;
}

.menu li a {
    text-decoration: none;
    color: var(--yum-primary-2);
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    transition: color var(--transition-speed);
}

    .menu li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        color: var(--yum-primary-1) !important;
        background-color: var(--yum-primary-2) !important;
        transition: width var(--transition-speed);
    }

    .menu li a:hover {
        color: var(--yum-primary-2);
    }

        .menu li a:hover::after {
            width: 100%;
        }

/* menu 樣式 */
.menu-icon {
    display: none;
    font-size: 0.9rem;
    color: var(--yum-primary-1);
    cursor: pointer;
}

.dropdown-menu {
    text-align: center;
    /*--bs-dropdown-min-width: 6.5rem;*/
    --bs-dropdown-item-padding-y: 0.3rem;
    --bs-dropdown-font-size: 1.15rem;
    --bs-dropdown-spacer: 1.6rem;
    background-color: var(--yum-primary-3) !important;
    --bs-dropdown-link-hover-bg: var(--yum-primary-1) !important;
    --bs-dropdown-link-active-bg: var(--yum-primary-2) !important;
}

    .dropdown-menu.dropdown:hover {
        background-color: var(--yum-primary-2) !important;
    }

/*.no-arrow::after {
    display: none;
}*/


/* RWD樣式 */
@media (max-width: 768px) {
    .menu {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background-color: var(--yum-primary-1);
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        max-height: 0;
        overflow: hidden;
        transition: max-height var(--transition-speed);
        display: none; /* 隱藏menu */
    }




    /* RWD menu打開 */
    #menu-toggle:checked ~ .menu {
        max-height: 500px;
        display: flex; /* menu打開顯示 */
    }
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .image-wrapper img {
        border-radius: 20px;
        max-width: 100%;
        height: auto;
    }

    .image-wrapper video {
        border-radius: 20px;
        max-width: 100%;
        height: auto;
    }


.content-wrapper {
    padding: 30px;
}



@media (min-width: 576px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
