.br-gray {
    border-top: 2px solid var(--yum-secondary-4);
}

.bg-gray {
    background-color: #e4e4e4
}

.text-big {
    font-weight: 400;
    font-size: 1.25rem;
}

.ingredient-icon {
    width: 30px;
    height: 30px;
}

.step-bk {
    background-color: rgba(128, 128, 128, 0.26);
}

.tag-button {
    border: 1px solid #dee2e6;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var( --yum-secondary-3);
    max-height: 48px
}

    .tag-button:hover {
        background-color: var(--yum-primary-3);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

.step-laststep {
    margin-bottom: 3rem
}

.filterclass-ingredient {
    border: 0px solid transparent;
    background-color: transparent;
    width: 37.8px;
    height: 37.8px;
    transition: transform 0.1s ease;
}

    .filterclass-ingredient:active {
        transform: scale(0.95);
    }
/*新增步驟的button*/
.step-pluscss {
    position: absolute;
    bottom: -50px;
    margin-left: 0px;
    border-radius: 75px;
    background-color: transparent;
    border-color: transparent
}
/*偶數步驟div*/
.step-right {
    width: 18rem;
    margin-top: 38rem;
    margin-left: 14.25rem;
}
/*奇數步驟div*/
.step-left {
    width: 18rem;
    margin-left: 7rem;
    margin-top: 38rem;
}
/*離下方200px*/
.mb-200 {
    margin-bottom: 200px
}
/*邊線1.5rem*/
.bd-24 {
    border-radius: 1.5rem !important;
}
/*烹調及人數input css*/
.input-type {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    border-radius: 4px;
    border: 1px solid black;
    width: 270px;
}
/*push最底下的按鈕*/
.btn-push {
    font-size: 20px;
    background-color: #c5c2c2b9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .btn-push:hover {
        color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
