@* 指引當前頁面 *@
@await Html.PartialAsync("_PartialBreadcrumb", (List<BreadcrumbItem>)ViewBag.Breadcrumbs)

<div class="row">
	<img src="/img/cherish/cover.jpg" alt="介紹惜食封面照片">
</div>
<h3 class="px-4 py-3">「食材不浪費，愛心傳遞」</h3>
<p>「惜食專區」是一個以共享食材為核心的公益平台，旨在減少食物浪費，促進社區內的資源循環。我們鼓勵大家把即將過期但仍然安全可用的食材分享給有需要的人，讓這些食材不會被浪費，反而能發揮它們最大的價值。</p>
<div class="row">
	<img src="/img/cherish/step.jpg" alt="惜食專區流程圖">
</div>
<pre>
			【3. 如何使用】
			-《使用指南》：詳細的使用說明，包含：
			  - 如何註冊和登錄
			  - 如何上架食材
			  - 如何尋找和聯絡需求者
			  - 如何管理已上架的食材
		</pre>
<pre>
			【4. 理念背景】
			-《惜食的意義》：介紹惜食的概念，包括食物浪費的影響及其對環境和社會的負面影響。
			-《數據支持》：提供一些有關食物浪費的統計數據和研究結果，強調這個平台的必要性。
		</pre>
<p>
	為什麼珍惜食材、減少浪費如此重要？

	環境保護：食物浪費會產生大量的廢棄物，對環境造成負擔。通過減少浪費，我們能減少食物的生產、運輸、處理過程中的碳排放，有助於減緩氣候變遷。

	資源節省：食物的生產需要大量的水、土地、能源和勞力。每一個被浪費的食物背後，都代表著資源的巨大浪費。通過共享食材，我們能最大化資源的利用。

	關懷他人：許多人面臨著食物短缺的問題，通過「惜食專區」，我們能將過剩的食材提供給需要的人，減輕他們的經濟壓力，傳遞社會的溫暖和關懷。

	珍惜食材，從每一個小小的行動開始，讓我們一起為減少浪費，保護地球、關愛他人，做出實際貢獻。
</p>
<pre>
			【5. 使用者故事】
			-《成功案例》：分享一些使用者的故事，展示他們如何透過「惜食專區」找到需要的食材，或如何將多餘的食材轉送給有需要的人。
		</pre>
<pre>
			【6. 常見問題】
			-《FAQ》：解答潛在用戶可能有的問題，例如安全性、如何處理不良食材等。
		</pre>
