.my-input:focus {
    border-color: var(--yum-primary-2);
    box-shadow: 0 0 0 0.2rem var(--yum-primary-3);
}

.ingredient-img {
    object-fit: cover;
    max-width: 100%;
}

.my-button {
    color: var(--yum-primary-2);
    background-color: var(--yum-primary-3);
}

    .my-button:hover {
        color: var(--yum-primary-3);
        background-color: var(--yum-primary-2);
    }

        .my-button:hover svg path {
            fill: var(--yum-primary-3);
            transition-duration: 0.5s;
        }

.background-white {
    background-color: var(--yum-secondary-3);
}

.set-fs {
    font-size: 1.15rem !important;
}

svg {
    width: 1.15rem;
    height: 1.15rem;
}

    svg path {
        fill: var(--yum-primary-2);
    }

.mask {
    background-color: rgba(0, 0, 0, 0.4);
}
