.article-title {
    color: var(--yum-primary-3);
    background-color: var(--yum-primary-2);
}

.background-white {
    background-color: var(--yum-secondary-3);
}

.reminder-text {
    color: var(--yum-secondary-1);
}

.my-photo {
    width: 100%;
}

.set-fs {
    font-size: 1.15rem !important;
}

.my-input:focus {
    border-color: var(--yum-primary-2);
    box-shadow: 0 0 0 0.2rem var(--yum-primary-3);
}

.my-select {
}

.my-checkbox {
}

/* 退回按鈕的樣式 */
.back-btn {
    font-size: 1rem;
    color: var(--yum-primary-2);
    background-color: var(--yum-secondary-3);
    box-shadow: 2px 2px 2px #30533fa6;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid var(--yum-primary-2);
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* 一般的按鈕樣式 */
.yum-btn {
    font-size: 1rem;
    color: var(--yum-primary-2);
    background-color: var(--yum-primary-3);
    box-shadow: 2px 2px 2px #30533fa6;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid var(--yum-primary-2);
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

    /* hover 按鈕時的樣式變化 */
    .back-btn:hover,
    .yum-btn:hover {
        color: var(--yum-primary-3);
        background-color: var(--yum-primary-2);
        transition-duration: 0.5s;
    }

/* 有使用 svg 圖形的要增加下方的設定 */
svg path {
    fill: var(--yum-primary-2);
}

.yum-btn:hover svg path {
    fill: var(--yum-primary-3);
    transition-duration: 0.5s;
}

/* 設定 svg 圖形的大小 */
svg {
    width: 1.15rem;
    height: 1.15rem;
}
