<div class="container d-flex justify-content-center align-items-center mt-3" style="max-width: 960px; margin: 0 auto;">


    <main>
        <!-- 表單標題 即期良食資料 -->
        <div class="row article-title rounded-top ">
            <div class="col-4 ms-3">
                <h2 class="my-3">即期良食資料</h2>
            </div>
        </div>

        <!-- 表單內容  -->

        <div class="row background-white area-padding p-4">
            <div class="food-card d-flex flex-wrap mt-2 md-2">
                <div class="col-4">
                    <img src="/img/cherish/1.jpg" class="p-3 img-fluid" alt="Food">
                </div>
                <div class="col-8 p-3">
                    <div class="d-flex justify-content-between mt-3 mb-3">
                        <h5>茄子</h5>
                        <div>數量: 4</div>
                        <div>截止日期: 2024.11.11</div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 mb-3 align-items-center">
                        <span>購買日期 或 採收日期: 2024-10-31</span>


                        <span class="category-label">蔬菜類</span>
                    </div>

                    <p class="d-flex justify-content: flex-start align-items-center pt-4 pd-4">

                        <span>食材來源: 自行採收</span>
                    </p>
                    <div class="cherishMatch d-flex justify-content-between pt-4 pd-4">
                        <span>食材有效期限: 2024-11-12</span>


                    </div>

                </div>

            </div>
        </div>


        <!-- 表單標題 聯絡方式 -->
        <div class="row article-title rounded-top">
            <div class="col-4 ms-3">
                <h2 class="my-3">聯絡方式</h2>
            </div>
        </div>

        <!-- 表單內容 -->

        <div class="row background-white mb-4 area-padding">
            <div class="team-boxed">
                <div class="container">
                    <div class="row g-4">

                        <!-- 配對人卡片  -->


                        <form>
                            <div class="row justify-content-center mt-4">
                                <div class="col-6">
                                    <!-- 暱稱欄位 -->
                                    <div class="col">
                                        <label for="nick-name" class="form-label">暱稱</label>
                                        <br />
                                        <label for="nick-name" class="form-label">台中柯震東</label>

                                    </div>

                                    <!-- 面交地區 -->
                                    <img src="/img//icon/location.svg" style="width: 18px; height: 18px;" alt="location-icon">
                                    <label for="city" class="form-label mt-3">面交地區</label>
                                    <div class="row">
                                        <div class="col-6">

                                            <label for="nick-name" class="form-label">台中市</label>

                                        </div>
                                        <div class="col-6">

                                            <label for="nick-name" class="form-label">南屯區</label>

                                        </div>
                                    </div>
                                </div>

                                <!-- 面交時段 -->
                                <div class="col-6">

                                    <label for="trade-time" class="form-label">面交時段</label>
                                    <br />
                                    

                                    <table >
                                        <tr>
                                            <th class="p-2">星期一</th>
                                            <td class="p-2">上午 下午</td>
                                            <th class="p-2">星期五</th>
                                            <td class="p-2">上午 晚上</td>
                                        </tr>
                                        <tr>
                                            <th class="p-2">星期二</th>
                                            <td class="p-2">上午 下午</td>
                                            <th class="p-2">星期六</th>
                                            <td class="p-2">上午 晚上</td>
                                        </tr>
                                        <tr>
                                            <th class="p-2">星期三</th>
                                            <td class="p-2">上午 下午</td>
                                            <th class="p-2">星期日</th>
                                            <td class="p-2">上午 晚上</td>
                                        </tr>
                                        <tr>
                                            <th class="p-2">星期四</th>
                                            <td class="p-2">上午 下午</td>
                                            <th class="p-2">&nbsp;</th>
                                            <td class="p-2">&nbsp;</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                            <!-- 聯絡方式 -->
                            <label for="ContactLine" class="form-label mt-3">聯絡方式</label>
                            <div class="row justify-content-center">
                                <!-- LINE -->
                                <div div class="col-6">
                                    <img src="/img/icon/line.svg" style="width: 20px; height: 20px;" alt="line-icon">
                                    <label for="ContactLine" class="form-label ms-1">LINE</label>
                                    <input class="form-control" type="text" value="無" aria-label="readonly input example" readonly>

                                </div>
                                <!-- 電話號碼 -->
                                <div div class="col-6">
                                    <div class="d-flex align-items-center">
                                        <!-- Icon -->
                                        <img src="/img/icon/phone.svg" style="width: 20px; height: 20px;" alt="phone">

                                        <!-- Label -->
                                        <label for="ContactPhone" class="form-label ms-1">電話號碼</label>
                                    </div>




                                    <input class="form-control" type="text" value="無" aria-label="readonly input example" readonly>

                                </div>
                            </div>

                            <!-- 其他聯絡方式 -->
                            <div class="row">
                                <div class="col">
                                    <img src="/img/icon/contacts.svg" style="width: 20px; height: 20px;" alt="contacts">

                                    <label for="ContactOther" class="form-label mt-3 ms-1">其他聯絡方式</label>
                                    <input class="form-control" type="text" value="Email : gmriomor@mail.com" aria-label="readonly input example" readonly>

                                </div>
                            </div>

                            <!-- 返回按鈕 -->
                            <div class="row justify-content-center my-4">
                                <div class="col-2 text-center">
                                    <button class="btn my-button">返回</button>
                                </div>

                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </main>
</div>