.btn-tags {
    background-color: var( --yum-secondary-3);
    border-color: var(--yum-primary-3);
    border-radius: 30px;
    color: var(--yum-primary-2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .btn-tags:hover {
        background-color: var(--yum-primary-3);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

.tag-button {
    border: 1px solid #dee2e6;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

    .tag-button img {
        height: 20px;
        margin-right: 0.5rem;
    }

.tag-section {
    max-height: 300px;
    overflow-y: auto;
}

.edit-section {
    background-color: #f8f9fa;
    border-radius: 1rem;
    padding: 1.5rem;
    overflow-y: auto;
}

.form-label {
    font-weight: bold;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    pointer-events: all; /* Prevent interaction with underlying content */
    z-index: 10;
}

.hint-block {
    /*    Allow interaction with the hint block */
    pointer-events: auto;
    font-weight: bold;
}

/*--------------------Individual style--------------------*/

.bottom-line {
    border-bottom: 1px solid var(--yum-secondary-4); /* You can adjust the color and thickness */
    padding-bottom: 2px; /* Optional: adjust spacing */
}
