@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
	<p class="text-center fw-600" style="color: var(--yum-secondary-1);">使用範例：</p>
	<pre style="margin-bottom: 0;">
p {
	color: <span class="fw-500" style="color: var(--yum-secondary-1);">var(--yum-primary-2);</span>
}
將 p 標籤的文字顏色設定成 --yum-primary-2 的顏色

button {
	background-color: <span class="fw-500" style="color: var(--yum-secondary-1);">var(--yum-secondary-1);</span>
}
將 button 標籤的背景顏色設定成 --yum-secondary-1 的顏色</pre>
	<hr>

	<p class="text-center mb-1">主題配色</p>
	<div class="row">
		<div class="col-4 d-flex align-items-center flex-column" style="background-color: var(--yum-primary-1);height: 8rem;">
			<p class="mt-3">主色一</p>
			<p>var(--yum-primary-1)</p>
		</div>
		<div class="col-4 d-flex align-items-center flex-column" style="background-color: var(--yum-primary-2);height: 8rem;">
			<p class="mt-3">主色二</p>
			<p>var(--yum-primary-2)</p>
		</div>
		<div class="col-4 d-flex align-items-center flex-column" style="background-color: var(--yum-primary-3);height: 8rem;">
			<p class="mt-3">主色三</p>
			<p>var(--yum-primary-3)</p>
		</div>
		<div class="col-4 d-flex align-items-center flex-column" style="background-color: var(--yum-secondary-1);height: 8rem;">
			<p class="mt-3">輔色一</p>
			<p>var(--yum-secondary-1)</p>
		</div>
		<div class="col-4 d-flex align-items-center flex-column" style="background-color: var(--yum-secondary-2);height: 8rem;">
			<p class="mt-3">輔色二</p>
			<p>var(--yum-secondary-2)</p>
		</div>
		<div class="col-4 d-flex align-items-center flex-column" style="background-color: var(--yum-secondary-3);height: 8rem;">
			<p class="mt-3">輔色三</p>
			<p>var(--yum-secondary-3)</p>
		</div>
	</div>
	<hr>

	<p class="text-center">歡迎分享不錯的配色 ヽ(*´◡`)人(´ω`*)ﾉ</p>
	<p class="text-center">像是：button、a、內文和背景的配色...等等</p>
	<p class="text-center fs-6">〈 如果有想新增的顏色，歡迎提出 〉</p>
	<hr>
</div>
