@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
	<p class="text-start">> 首頁 > 範例 > Demo</p>
	<h2 class="text-center">大標題使用 h2 標籤</h2>
	<div class="row" style="background-color: var(--yum-secondary-3);height: 80vh;">
		<div class="container">
			<p>
				內文的字型大小是 fs-5
				<span style="color: var(--yum-secondary-2);">（預設）</span>
			</p>
			<p class="fs-6">
				需要更小的字型大小，請用 fs-6
			</p>
			<p>
				更多字型大小，請參考 Font.html 或 Font.cshtml
			</p>
			<hr>

			<p>
				一般的字型粗細，是 fw-400
				<span style="color: var(--yum-secondary-2);">（預設）</span>
			</p>
			<p class="fw-500">
				需要粗體字，請用 fw-500
			</p>
			<p>
				更多字型粗細，請參考 Font.html 或 Font.cshtml
			</p>
			<hr>

			<p>(๑•̀ㅂ•́)و✧ 祝各位 coding 順利！</p>
			<p>_(´ཀ`」 ∠)_ 有問題、遇到瓶頸時，可以找夥伴討論 ฅ^•ﻌ•^ฅ</p>
		</div>
	</div>
</div>
