@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
	<p class="text-center fw-600" style="color: var(--yum-secondary-1);">使用範例：</p>
	<pre style="margin-bottom: 0;">
fs-? 及 fw-?00 兩者都是 class屬性。h? 是 HTML標籤。
&lt;div&nbsp;class="<span class="fw-500" style="color: var(--yum-secondary-1);">fs-4</span>"&gt;範例&lt;/div&gt;
&lt;p&nbsp;class="<span class="fw-500" style="color: var(--yum-secondary-1);">fw-500</span>"&gt;範例&lt;/p&gt;
<span class="fw-500" style="color: var(--yum-secondary-1);">&lt;h3&gt;</span>範例<span class="fw-500" style="color: var(--yum-secondary-1);">&lt;/h3&gt;</span></pre>
	<hr>

	<p class="text-center mb-1">一般文字大小</p>
	<div class="row">
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fs-1">fs-1 文字一</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fs-2">fs-2 文字二</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fs-3">fs-3 文字三</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fs-4">fs-4 文字四</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fs-5">fs-5 文字五</span>
			<span style="color: var(--yum-secondary-2);">（預設）</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fs-6">fs-6 文字六</span>
		</div>
	</div>
	<hr>

	<p class="text-center mb-1">標題文字大小</p>
	<div class="row">
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<h1>h1 標題一</h1>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<h2>h2 標題二</h2>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<h3>h3 標題三</h3>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<h4>h4 標題四</h4>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<h5>h5 標題五</h5>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<h6>h6 標題六</h6>
		</div>
	</div>
	<hr>

	<p class="text-center mb-1">字型粗細</p>
	<div class="row">
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fw-100">fw-100 粗細一</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fw-200">fw-200 粗細二</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fw-300">fw-300 粗細三</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fw-400">fw-400 粗細四</span>
			<span style="color: var(--yum-secondary-2);">（預設）</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fw-500">fw-500 粗細五</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fw-600">fw-600 粗細六</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fw-700">fw-700 粗細七</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fw-800">fw-800 粗細八</span>
		</div>
		<div class="col-4" style="background-color: var(--yum-primary-3);">
			<span class="fw-900">fw-900 粗細九</span>
		</div>
	</div>
	<hr>
</div>
